<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Owns Data</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Embed for your Organization(user owns data)</h1>
    <a href="/login">Sign In</a>
</body>

</html>