<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSAL Auth</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <p>Welcome to MSAL Auth</p>
    <a href="/login">Sign In</a>
</body>

</html>